<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GeeksEat</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <a href="https://github.com/LadyNaggaga/GeeksEat" style="position:absolute;top:192px;right:-103px;background-color:#17a589 ;margin:0;font-family:Helvetica,Arial,sans-serif;font-size:14px;padding:10px 15px;border-radius:0 2px 2px 0;transition:right .4s ease;text-decoration:none;color:#fff;" onMouseOver="this.style.right='0'" onMouseOut="this.style.right='-103px'">
        <svg width="31" height="31" viewBox="0 0 41 41" fill="#fff" style="vertical-align:middle;margin-right:15px;">
            <path d="M0 20.48c0 9.04 5.742 16.72 13.672 19.44 1.016.2 1.367-.44 1.367-1 0-.48 0-2.12-.039-3.8-5.547 1.24-6.719-2.4-6.719-2.4-.898-2.36-2.227-3-2.227-3-1.836-1.28.156-1.24.156-1.24 1.992.16 3.047 2.12 3.047 2.12 1.797 3.12 4.688 2.24 5.82 1.72.195-1.32.703-2.24 1.289-2.72-4.453-.52-9.102-2.28-9.102-10.12 0-2.24.781-4.08 2.07-5.48-.195-.52-.898-2.6.195-5.44 0 0 1.68-.56 5.508 2.12 1.602-.44 3.32-.68 5-.68 1.719 0 3.398.24 5 .68 3.828-2.64 5.508-2.12 5.508-2.12 1.094 2.84.391 4.92.195 5.44 1.289 1.44 2.07 3.24 2.07 5.48 0 7.88-4.688 9.6-9.141 10.12.703.64 1.367 1.88 1.367 3.8 0 2.72-.039 4.96-.039 5.64 0 .56.352 1.2 1.367 1 7.93-2.72 13.672-10.4 13.672-19.44 0-11.32-8.984-20.6-20.039-20.6-11.055 0-20 9.16-20 20.48z" />
        </svg><span>Fork or Clone</span>
    </a>
    <nav class="navbar navbar-toggleable-md navbar-light fixed-top bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Geeks Eat</a>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">About <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Repo</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Host</a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-toggler-right">
                @await Html.PartialAsync("_LoginPartial")
            </ul>

        </div>
    </nav>
    @*<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-page="/Index" class="navbar-brand">GeeksEat</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-page="/Index">Home</a></li>
                    <li><a asp-page="/About">About</a></li>
                    <li><a asp-page="/Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>*@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - GeeksEat</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
