@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}
@*Header Section EAT.SHARE.LEARN.CODE*@
<div class="jumbotron jumbotron-fluid" style="background-color:#ffffff">
    <div class="container">
        <h1 class="display-2 text-center">Eat. Share. Learn. Code.</h1>
        <p class="lead text-center text-gray-dark">Geeks Eat where people come together to share code, make new friends and learn over a good meal.</p>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-auto">
                    <input type="text" class="form-control pull-left search-text" placeholder="Search by location" />
                </div>
                <div class="col col-lg-2">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </div>

        </div>
    </div>
</div>
<hr class="my-4" />
@*Food&Code nearby*@
<div class="container">
    <h2 class="display-4 text-center">Food & Code Near You</h2>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-block card-inverse card-success">
                    <h3 class="card-title"> Name of event</h3>
                    <p class="card-text">Food details</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card card-inverse card-info">
                <div class="card-block">
                    <h3 class="card-title"> Name of event</h3>
                    <p class="card-text">Food details</p>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="my-4" />
@*About us*@
<div class="container">
    <h2 class="display-4 text-center">About Geek Eats</h2>
    <p class="lead text-center text-gray-dark">Share code over a meal</p>

</div>
